Daily Project Status Email.json
{
  "name": "Daily Project Status Email",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "60e11538-508f-4b7a-a125-ad47c116c22d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1nmEsW-6YDuot5d6yti9aCZMbMI-L17IdSo53-yBNjTE/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1nmEsW-6YDuot5d6yti9aCZMbMI-L17IdSo53-yBNjTE/edit?gid=0#gid=0",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "7c8ef74f-fbb3-4bd8-b7ab-3ddaa334e510",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RUb8hHoDMzRpkhoT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let html = `\n<table border=\"1\" cellpadding=\"8\" cellspacing=\"0\" style=\"border-collapse:collapse; width:100%;\">\n<tr style=\"background:#f2f2f2;\">\n  <th>Project Name</th>\n  <th>Today Work</th>\n  <th>Materials Required</th>\n  <th>Risks</th>\n  <th>Delays</th>\n</tr>\n`;\n\nfor (const item of items) {\n  html += `\n  <tr>\n    <td>${item.json[\"Project Name\"] || \"\"}</td>\n    <td>${item.json[\"Today Work\"] || \"\"}</td>\n    <td>${item.json[\"Materials Required\"] || \"\"}</td>\n    <td>${item.json[\"Risks\"] || \"\"}</td>\n    <td>${item.json[\"Delays\"] || \"\"}</td>\n  </tr>`;\n}\n\nhtml += `</table>`;\n\nreturn [{ json: { html } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        409.68119049072266,
        0
      ],
      "id": "9a464789-1c57-4d7c-99a1-9cb18688fd3d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "fromEmail": "mlikhithareddy191102@gmail.com",
        "toEmail": "mlikhithareddy191102@gmail.com",
        "subject": "Daily Project Status Report",
        "html": "=<h3>Daily Project Status Report</h3>\n<p>Good morning, below is today’s project update:</p>\n\n{{$json[\"html\"]}}\n\n<p>Regards,<br>L&T Automation</p>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        640,
        0
      ],
      "id": "bddd65f3-1c15-48e2-a1fc-2af2ea1276e0",
      "name": "Send an Email",
      "webhookId": "54977f15-2d80-4868-a629-0fb827f5180f",
      "credentials": {
        "smtp": {
          "id": "TUCQtIPgZ2SbsoPE",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4d405a49-c8c5-4009-816f-10cc8ee2c273",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7923ec2ea3cbc4878bec88a28d2b2a4edd56bec3c4ee802294e42c93532d2015"
  },
  "id": "COPZDUE-XsJz4VOVOIue0",
  "tags": []
}